body {
  overflow-x: hidden;
}
h1 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-family: "Playfair Display", serif;
}

h3 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Source Sans Pro", sans-serif;
}

nav {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 2px;
}

.hero-portfolio-btn,
.hero-contact-btn {
  padding: 10px 20px;
  margin: 10px 20px;
  font-family: "Source Sans Pro", sans-serif;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 18px;
  border-color: #212529;
  text-decoration: none;
  color: black;
  border: 1px solid;
}

.hero-portfolio-btn:hover,
.hero-contact-btn:hover {
  background-color: #212529;
  transition: ease-in-out;
  color: #fff;
  transition-duration: 15ms;
}
.hero-section {
  padding: 100px;
  background: #ffffff;
}
.hero-picture {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.navbar-brand {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
}
#navbarNav {
  justify-content: flex-end;
}

.introduction {
  display: flex;
  align-items: center;
}

.hero-buttons {
  display: flex;
  justify-content: center;
}

.about-home-picture {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}
.about-section {
  padding: 100px;
  background: #c5d0db;
}

.lets-connect {
  padding: 100px;
}
